#clock{
    -fx-font-size: 25px;
}

.startScreenBtn:hover{
    -fx-border-color: #ff9910;
    -fx-cursor: hand;
}



#sceneSubmitBtn{
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-radius: 20;
    -fx-background-color: #31C85D;
}

#sceneSubmitBtn:hover{
    -fx-cursor: hand;
}

#elementBar{
    -fx-padding: 20;
}

@font-face {
    font-family: Poppins;
    src: url('Poppins-Medium.otf');
}

.label{
    -fx-font-size: 15;
    -fx-font-family: Poppins;
    -fx-text-fill: #3e3e3e;
}

#player,
#start,
#elementEditor,
#elementBar{
    -fx-background-color: #f2f2f2;
}

#graphicPane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10.0;
    -fx-border-radius: 10.0;
    -fx-border-width: 0;
}

#startScreenViewTitle{
    -fx-font-size: 50;
}

#seasawDummy,
#ballDummy,
#blockDummy,
#spinnerDummy,
#springboardDummy,
#graphicPane,
#startScreenGrid .button{
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,93,0.9), 5, 0, 0, 0);
}

#ballDummy:hover,
#blockDummy:hover,
#spinnerDummy:hover,
#springboardDummy:hover,
#seasawDummy:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(255, 153, 16, 0.9), 5, 0, 0, 0);
    -fx-cursor: hand;
    -fx-stroke-width: 3;
    -fx-stroke: #ff9910;
}


#elementBarTitle,
#elementEditorTitle{
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.text-field,
.choice-box,
.color-picker,
#player .button{
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

#startScreenGrid .button{
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-background-color: #ffffff;
}

#startScreenGrid .button:hover{
    -fx-border-width: 4;
    -fx-border-radius: 18;
}


#optionBar :hover{
    -fx-text-fill: #ffffff;
}