#clock
{
    -fx-font-size: 30px;
}

.startScreenBtn:hover
{
    -fx-border-color: orange;
    -fx-cursor: hand;

}

.startScreenBtn
{
    -fx-border-color: black;
    -fx-background-color: rgba(0,0,0,0);
}

#sceneSubmitBtn
{
    -fx-background-radius: 20;
    -fx-border-width: 5;
    -fx-border-radius: 20;
    -fx-background-color: #31C85D;
}

#sceneSubmitBtn:hover
{

    -fx-cursor: hand;
}

#elementBar{
    -fx-padding: 20;

}


@font-face {
    font-family: Poppins-Light;
    src: url('Poppins-ExtraLight.otf');
}

@font-face {
    font-family: Poppins;
    src: url('Poppins-Medium.otf');
}

.label,
.check-box .text{
    -fx-font-size: 18;
    -fx-font-family: Poppins;
    -fx-text-fill: #3e3e3e;
}


#player,
#start,
#elementEditor,
#elementBar{
    -fx-background-color: #f2f2f2;
}

#graphicPane{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10.0;
    -fx-border-radius: 10.0;
    -fx-border-width: 0;
}

#startScreenViewTitle{
    -fx-font-size: 120;
    -fx-text-fill: #2980ff;
}

#chooseSceneText{
    -fx-font-size: 23;
}

#seesawDummy,
#ballDummy,
#blockDummy,
#spinnerDummy,
#springboardDummy,
#graphicPane,
#startScreenGrid .button{
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,93,0.9), 5, 0, 0, 0);
}

#elementEditor .label,
.check-box .text{
    -fx-font-size: 15;
    -fx-font-family: Poppins-Light;
}

#elementEditorTitle{
    -fx-font-family: Poppins!important;
    -fx-font-size: 18!important;
}

.menu{
    -fx-font-size: 15;
}

.text-field,
.choice-box,
.color-picker,
#player .button
{
    -fx-border-radius: 7;
    -fx-background-radius: 7;
}

.check-box .box{
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

#startScreenGrid .button{
    -fx-background-radius: 20;
    -fx-border-width: 0;
    -fx-background-color: #ffffff;
}

#startScreenGrid .button:hover{
    -fx-border-width: 4;
    -fx-border-radius: 18;
}

.text-field.error {
  -fx-text-box-border: red ;
  -fx-text-fill: red;
  -fx-background-color: #fae8e8;
  -fx-focus-color: red ;
}



.text-field:focused,
.color-picker:focused,
.choice-box:focused,
.button:focused,
.check-box:selected .box,
.check-box:focused .box{
    -fx-border-color: orange;
    -fx-background-insets: 1;
}

.menu-item:focused,
.menu:focused,
.menu:selected,
#sceneMenu:focused{
    -fx-background-color : orange;
    -fx-text-fill: #fff;
}

#seesawDummy:hover,
#ballDummy:hover,
#blockDummy:hover,
#spinnerDummy:hover,
#springboardDummy:hover{
    -fx-cursor: hand;
}

/*
#editor{
    -fx-background-color: green;
}

#elementEditor{
    -fx-background-color: blue;
}

#graphicPane{
    -fx-background-color: orange;
}

#elementBar{
    -fx-background-color: blue;
}

#playerPanel{
    -fx-background-color: purple;
}

#player{
    -fx-background-color: turquoise;
}

#Start{
    -fx-background-color: yellow;
}

borderPane{
    -fx-background-color: violet;
}
*/